@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
*{ margin: 0;
    padding: 0;
 box-sizing: border-box;
 font-family:  "Heebo", sans-serif;;
}

ul,ol{ list-style: none;

}
a{
    text-decoration: none;
    color: inherit;
}