
header{
 padding: 20px 30px;   
display: flex;
justify-content: end;

}



ul{
    display: flex;
    gap: 10px;
   
}
.about{
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
main{
    display:flex ;
flex-direction: column;
align-items: center;

}
section{
    width: 800px;
}
.about img{
    width: 200px;
    height:200px;
    border-radius: 100px;
    object-fit: cover;
    object-position: top;
}
.about-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.about button{
    padding: 10px 20px;
    width: 200px;
    border: none;
    color: white;
    border-radius: 2px;
    background-color: #FF6464;
}
.posts{
    padding: 40px 0px;

}
.posts-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.posts-title{
    font-size: 22px;
}
.view-all{
    color: #00a8cc;
}
.posts-bottom{
    display: flex;
    gap: 20px
    ;
}
.posts-cart{display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 6px;
    background-color: #EDF7FA


}
.posts-cart-title{
    font-size: 26px;
}

.posts-cart-center{
    display: flex;
    gap: 10px;
}


footer{
   width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-icons{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}